<div class="static-menu">
  <div class="menu-item" *ngFor="let item of menuItems">

    <div class="menu-header" (click)="toggleItem(item)">
      {{ item.title }}
    </div>

    <div class="content" [class.show]="item.isOpen">

      <ul class="link-list">
        <li *ngFor="let link of item.links">

          <!-- Enlazar la URL usando routerLink para que Angular gestione el enrutamiento -->
          <a [routerLink]="['/Produccion/noti']">

            <!-- Mostrar el ícono correspondiente basado en el texto del link -->
            <img *ngIf="link.text === 'Notificaciones'" src="/img/correo.png" class="imagen">
            <img *ngIf="link.text === 'Prueba'" src="/img/microfono.png" class="imagen">
            {{ link.text }}

          </a>

        </li>
      </ul>

    </div>
  </div>
</div>



<!--
  <mat-tab-group animationDuration="2000ms" class="noti">
  <mat-tab label="Producción" class="noti">
    Notificaciones

    <div matRipple [matRippleColor]="'rgba(255, 0, 0, 0.3)'" class="ripple-demo">
      Efecto ripple rojo
    </div>



  </mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="Third">Content 3</mat-tab>
</mat-tab-group>

-->




<button (click)="logout()" class="logout-btn">Cerrar sesión</button>
