
.static-menu {
  width: 300px;
  border: none;
  margin: 0 auto; /* Centra el menú horizontalmente */
  display: block; /* Asegura que el elemento sea tratado como un bloque */
  margin-top: 2rem;
  font-size:18px;
 
}

.menu-item {
  border-bottom: 1px solid #ddd;
  
}

  .menu-item:last-child {
    border-bottom: none;
  }

.menu-header { /* Titulo grande de cada boton */
  padding: 15px;
  background-color: #B5BAC9;
  cursor: pointer;
  border-radius: 60px 70px 40px 140px; /* Hace que los bordes sean redondeados */
  text-align: center; /* Centra el texto */
  width: 80%; /* Ajusta el ancho para que se vea como un óvalo */
  margin: 10px auto; /* Centra horizontalmente */
  border: none; /* Elimina el borde negro */

  transition: 0.5s;
  transform: scale(0.95);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

  .menu-header:hover {
    background-color: red;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    transform: translateY(1px) scale(1.05);
    
  }

.imagen-inline, .texto-inline {
  display: inline-block; /* Muestra la imagen y el texto en la misma línea */
  vertical-align: middle; /* Alinea verticalmente en el centro */
}

.content {
  max-height: 0;
  overflow: hidden;
  transform: translateX(0) scale(0);
  transition: transform 0.3s ease;
  background-color: white;
  text-align: center;
  font-size:17px;
  margin-top: 1.3rem; /* espacio hacia arriba */
  margin-bottom: 1.3rem; /* espacio hacia abajo */
  display: flex; /* Activa Flexbox */
  align-items: center; /* Alinea verticalmente en el centro */
  gap: 10px; /* Espacio entre la imagen y el texto */
}

  .content.show {
    max-height: 500px;
    transform: translateX(50px) scale(1); /* Mueve el elemento 100px a la derecha */
  }

.link-list {
  list-style-type: none; /* tipo de marcador que puede tener la lista */
  padding: 0;
  margin: 0;
}

  .link-list li {
    padding: 10px 15px;
    border-top: 1px solid #eee; /* linea gris que divide las opciones */
  }

    .link-list li:first-child {
      border-top: none;
    }

  .link-list a {
    display: flex; /* Alinea el ícono y el texto en una fila */
    align-items: center; /* Centra verticalmente el ícono y el texto */
    gap: 8px; /* Espacio entre el ícono y el texto */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: red; /* Mantiene el color del texto */


    
  }

    .link-list a:hover {
      color: #0066cc; /* pone de color azul la palabra seleccionada*/
      text-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
    }


.logout-btn {
  margin-top: 100px;
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align:center;
  font-size: 15px;
  width: 200px; /* Ancho fijo */
  height: 50px; /* Alto fijo */
}

  .logout-btn:hover {
    background-color: #c82333;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  }

.imagen {
  width: 25px; /* Ajusta el tamaño de los íconos */
  height: 25px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.static-menu, .menu-header, .link-list a, .logout-btn {
  font-family: 'Poppins', sans-serif; /* Aplica la fuente específicamente al menú */
}
