<div class="container">
  <div class="search-container">

    <button (click)="goBack()" class="btn-regresar">

      <img src="img/girar-a-la-izquierda.png" alt="Botón Imagen" class="img-boton">

    </button>

    <input [(ngModel)]="searchTerm" placeholder="Buscar por Numero de OT..." (input)="onSearch()">

    <button (click)="onSearch()" class="btn-buscar">Buscar</button>

  </div>
</div>


<!--<table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of filteredData">
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
        </tr>
      </tbody>

    </table>
-->
