<div class="tabs-container">

  <h3>Nombre de subtarea</h3>

  <!-- Botón de regresar -->
  <h3 *ngIf="subtarea">Descripción de la Subtarea: {{ subtarea.Descripcion }}</h3>
  <button (click)="goBack()" class="btn-regresar">
    <img src="img/girar-a-la-izquierda.png" alt="Botón Imagen" class="img-boton">
  </button>


  <ul class="tabs">
    <li *ngFor="let tab of tabs; let i = index"
        [class.active]="activeTabIndex === i"
        (click)="selectTab(i)">
      {{ tab.label }}
    </li>
  </ul>

  <!--<div *ngIf="subtRegistros" class="titulo">

    <p><strong></strong> {{ subt.Descripcion }}</p>

  </div>-->

<div class="tab-content" *ngIf="activeTabIndex === 0">
  <h4>Materiales</h4>

  <!-- Tabla que muestra los materiales obtenidos de DetSubT -->
  <table class="table-materiales" *ngIf="materiales.length > 0">
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Cantidad</th>
        <th>Real</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let material of materiales">
        <td>{{ material.CodInventario }}</td>
        <td>{{ material.Cant }}</td>
        <!--<td>{{ material.Precio | currency }}</td>-->
      </tr>
    </tbody>
  </table>

  <!-- Mensaje si no hay materiales -->
  <p *ngIf="materiales.length === 0">No se encontraron materiales para esta subtarea.</p>

  <!-- Traer listado de materiales  -->
</div>

  <div class="tab-content" *ngIf="activeTabIndex === 1">
    <p>Contenido de la Pestaña 2</p>
    <!-- Mano de obra adicional selecciona asistente -->
  </div>

  <div class="tab-content" *ngIf="activeTabIndex === 2">
    <p>Contenido de la Pestaña 3</p>
    <!-- agregar imagenes o anexos que necesite  -->
  </div>
</div>
