.titulo {
  font-size: 2rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  color: #333; /* Color del texto (gris oscuro) */
  text-align: center; /* Centrar el título */
  margin: 1rem 0; /* Espacio superior e inferior */
  padding: 0.5rem; /* Espacio interno */
  border-bottom: 2px solid #007bff; /* Línea inferior azul */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  font-family: 'Poppins', sans-serif; /* Fuente personalizada */
}

.btn-regresar {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0; /* Evita que el botón se encoja */
  margin-left: 4px;
  position: fixed; /* Posiciona el botón de manera fija en la pantalla */
  top: 8rem; /* Ajusta la distancia desde la parte superior */
  left: 12rem; /* Ajusta la distancia desde el lado izquierdo */
  
}

.img-boton {
  width: 50px; /* Ajusta el tamaño según lo que desees */
  height: 50px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  transition: box-shadow 0.3s ease;
}

.btn-regresar:hover .img-boton {
  box-shadow: 0px 0px 15px rgba(255, 99, 71, 0.7); /* Sombra roja clara */
}


.tabs-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.tabs {
  list-style-type: none;
  display: flex;
  border-bottom: 2px solid #ccc;
  padding: 0;
  margin: 0;
}

  .tabs li {
    padding: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
  }

    .tabs li:hover {
      border-bottom: 2px solid #007bff;
    }

    .tabs li.active {
      border-bottom: 2px solid #007bff;
      font-weight: bold;
    }

.tab-content {
  padding: 2rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
  border-radius: 5px;
}


/* Contenedor de la tabla */
.table-materiales {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9; /* Fondo claro */
}

  /* Encabezados de la tabla */
  .table-materiales th {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 12px 15px; /* Espaciado interno */
    border-bottom: 2px solid #ddd; /* Línea inferior */
    text-align: center;
  }

  /* Celdas del cuerpo de la tabla */
  .table-materiales td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align:center;
  }

  /* Estilos para las filas impares */
  .table-materiales tr:nth-child(odd) {
    background-color: #f2f2f2; /* Alterna el color de fondo */
  }

  /* Efecto hover sobre las filas */
  .table-materiales tr:hover {
    background-color: #ddd; /* Cambia el color al pasar el mouse */
  }

  /* Estilos para las celdas de cantidad */
  .table-materiales td:nth-child(2),
  .table-materiales td:nth-child(3) {
    text-align: center; /* Alinea al centro las columnas de cantidad */
  }

.custom-input {
  width: 29px; /* Ajusta el ancho del input */
  height: 30px; /* Ajusta la altura del input */
  background: none; /* Elimina el fondo */
  border: 1px solid #ccc; /* Un borde suave */
  padding: 5px; /* Espaciado interno */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  border-radius: 4px; /* Bordes redondeados */
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

  .custom-input:focus {
    outline: none; /* Elimina el borde resaltado al hacer clic */
    border-color: #66afe9; /* Color del borde al enfocar */
  }

.loading-screen {
  position: fixed; /* Fija la pantalla de carga en el centro de la ventana */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros contenidos */
}

.loading-gif {
  width: 50px; /* Tamaño del gif de carga */
  height: 50px;
  margin-bottom: 10px; /* Espacio entre el gif y el texto */
}


/* Estilos adicionales */
h4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Ajusta el ancho de la tabla para pantallas más pequeñas */
@media (max-width: 600px) {
  .table-materiales {
    font-size: 14px;
  }
}
