<div class="tabs-container">
  <!-- Pantalla de carga (solo se muestra cuando isLoading es true) -->
  <div *ngIf="isLoading" class="loading-screen">
    <img src="img/cargando.gif" alt="Loading..." class="loading-gif">
    <p>Cargando, por favor espere...</p>
  </div>

  <!-- Contenido (solo se muestra cuando isLoading es false) -->
  <div *ngIf="!isLoading">
    <!-- Título con descripción de la subtarea -->
    <h3 *ngIf="subtarea">{{ getDescripcionSinGuion(subtarea.Descripcion) }}</h3>

    <!-- Botón de regresar con imagen -->
    <button (click)="goBack()" class="btn-regresar">
      <img src="img/girar-a-la-izquierda.png" alt="Botón Imagen" class="img-boton">
    </button>

    <!-- Lista de pestañas -->
    <ul class="tabs">
      <li *ngFor="let tab of tabs; let i = index"
          [class.active]="activeTabIndex === i"
          (click)="selectTab(i)">
        {{ tab.label }}
      </li>
    </ul>

    <!-- Contenido de la primera pestaña: Materiales -->
    <div class="tab-content" *ngIf="activeTabIndex === 0">
      <h4>Materiales</h4>

      <!-- Tabla que muestra los materiales obtenidos de DetSubT -->
      <table class="table-materiales" *ngIf="materiales.length > 0">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Real</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materiales">
            <td>{{ material.CodInventario }}</td>
            <td>{{ material.Cant }}</td>
            <!-- Input para la columna "Real" -->
            <td>
              <input type="text" [(ngModel)]="material.CantReal" class="custom-input">
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Mensaje si no hay materiales -->
      <p *ngIf="materiales.length === 0">No se encontraron materiales para esta subtarea.</p>
    </div>

    <!-- Contenido de la segunda pestaña: Mano de obra -->
    <div class="tab-content" *ngIf="activeTabIndex === 1">
      <table class="table-materiales">
        <thead>
          <tr>
            <th>Encargado</th>
            <th>Horas</th>
            <th>Real</th>
            <!--<th>Eliminar</th>-->
            <th *ngIf="operariosSeleccionados.length > 1">Eliminar</th> <!-- Solo muestra la columna si hay adicionales -->
          </tr>
        </thead>

        <tbody>
          <!-- Mostrar operario asignado inicialmente y mano de obra adicional -->
          <tr *ngFor="let operario of operariosSeleccionados; let i = index">
            <td>{{ operario.Encargado }}</td>
            <td>{{ operario.Horas }}</td>
            <td><input type="text" [(ngModel)]="operario.Real" class="custom-input"></td>
            <td *ngIf="i > 0">
              <!-- Mostrar el botón solo para operarios adicionales -->
              <button (click)="eliminarOperario(operario)" class="btn_borrar">
                <img src="img/borrar.png" alt="Botón Limpiar" class="img-borrar">
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <button (click)="cargarOperarios()" class="btn-agregar">Agregar Operario</button>

      <!-- Lista de operarios para seleccionar -->
      <div *ngIf="mostrarTablaOperarios && operarios.length > 0" class="operarios-container">
        <h5 class="operarios-title">Seleccionar Operario:</h5>
        <table class="table-operarios">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let operario of operarios" class="operarios-row">
              <td>{{ operario.NombreMostrar }}</td>
              <td>
                <button (click)="seleccionarOperario(operario)" class="select-button">Seleccionar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>


    <!-- Contenido de la tercera pestaña: Anexos -->
    <div class="tab-content" *ngIf="activeTabIndex === 2">
      <h4>Anexos</h4>
      <table>
      </table>
    </div>

    <button (click)="guardarValores()" class="btn_guardarc">Guardar</button>
  </div>
</div>
