<div class="tabs-container">

  <!-- Botón de regresar -->
  <button (click)="goBack()" class="btn-regresar">
    <img src="img/girar-a-la-izquierda.png" alt="Botón Imagen" class="img-boton">
  </button>


  <ul class="tabs">
    <li *ngFor="let tab of tabs; let i = index"
        [class.active]="activeTabIndex === i"
        (click)="selectTab(i)">
      {{ tab.label }}
    </li>
  </ul>

  <!--<div *ngIf="subtRegistros" class="titulo">

    <p><strong></strong> {{ subt.Descripcion }}</p>

  </div>-->

  <div class="tab-content" *ngIf="activeTabIndex === 0">
    <p>Contenido de la Pestaña 1</p>

    <!-- Traer listado de materiales  -->
  </div>

  <div class="tab-content" *ngIf="activeTabIndex === 1">
    <p>Contenido de la Pestaña 2</p>
    <!-- Mano de obra adicional selecciona asistente -->
  </div>

  <div class="tab-content" *ngIf="activeTabIndex === 2">
    <p>Contenido de la Pestaña 3</p>
    <!-- agregar imagenes o anexos que necesite  -->
  </div>
</div>
