.container {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 1rem;
}

.search-container {
  display: flex; /* Usamos Flexbox para alinear los elementos */
  justify-content: center; /* Centra horizontalmente los elementos */
  align-items: center; /* Centra verticalmente los elementos */
  gap: 10px; /* Espacio entre los elementos */
  margin-top: 3rem;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en varias líneas si es necesario */
}

input {
  flex: 1; /* Permite que el input ocupe todo el espacio disponible */
  max-width: 210px; /* Establece un ancho máximo para el input */
  text-align:center;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
}

.btn-buscar {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0; /* Evita que el botón se encoja */
  margin-left: 1rem;
}

  .btn-buscar:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  }

.btn-regresar {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  flex-shrink: 0; /* Evita que el botón se encoja */
  margin-right: 3rem;
}

.img-boton {
  width: 40px; /* Ajusta el tamaño según lo que desees */
  height: 40px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  transition: box-shadow 0.3s ease;
}

.btn-regresar:hover .img-boton {
  box-shadow: 0px 0px 15px rgba(255, 99, 71, 0.7); /* Sombra roja clara */
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 1rem;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .search-container {
    flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 15px; /* Aumenta el espacio entre los elementos */
  }

  input {
    width: 100%; /* Hace que el input ocupe todo el ancho disponible en pantallas pequeñas */
    max-width: none; /* Elimina el ancho máximo para que ocupe el 100% */
  }

  .btn-buscar, .btn-regresar {
    width: auto; /* Los botones toman el ancho del contenido */
    text-align: center; /* Centra el texto en los botones */
  }
}
