.titulo {
  font-size: 2rem; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  color: #333; /* Color del texto (gris oscuro) */
  text-align: center; /* Centrar el título */
  margin: 1rem 0; /* Espacio superior e inferior */
  padding: 0.5rem; /* Espacio interno */
  border-bottom: 2px solid #007bff; /* Línea inferior azul */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  font-family: 'Poppins', sans-serif; /* Fuente personalizada */
}

.btn-regresar {
  background: none;
  border: none;
  flex-shrink: 0; /* Evita que el botón se encoja */
  cursor: pointer;
  position: absolute; /* Posición absoluta respecto a su contenedor relativo */
  top: 8rem; /* Ajusta la distancia desde la parte superior */
  left: 8rem; /* Ajusta para alinear al lado izquierdo de la pantalla */
}

.img-boton {
  width: 50px; /* Ajusta el tamaño según lo que desees */
  height: 50px;
  border-radius: 50%; /* Hace que la imagen sea circular */
  transition: box-shadow 0.3s ease;
}

.btn-regresar:hover .img-boton {
  box-shadow: 0px 0px 15px rgba(255, 99, 71, 0.7); /* Sombra roja clara */
}

.btn_guardarc {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* Cambiado de 'center' a 'block' */
  position: absolute; /* Posición absoluta respecto a su contenedor relativo */
  top: 8.3rem; /* Ajusta la distancia desde la parte superior */
  left: 14rem; /* Ajusta para alinear al lado izquierdo de la pantalla */
  transition: background-color 0.3s, transform 0.2s;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn_guardarc:hover {
  background-color: #45a049;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn_guardarc:active {
  transform: scale(0.95);
}
.btn-agregar {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

  .btn-agregar:hover {
    background-color: #DB8525;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
  }

.btn_borrar {
  background: none;
  border: none;
}

.img-borrar {
  width: 45px; /* Ajusta el tamaño según lo que desees */
  height: 45px;
  border-radius: 48%; /* Hace que la imagen sea circular */
  transition: box-shadow 0.3s ease;
}

.btn_borrar:hover .img-borrar {
  box-shadow: 0px 0px 15px rgba(255, 99, 71, 0.7); /* Sombra roja clara */
}

/* Contenedor principal */
.operarios-container {
  margin: 20px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Título */
.operarios-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Tabla */
.table-operarios {
  width: 100%;
  border-collapse: collapse;
}

  .table-operarios thead {
    background-color: #007bff;
    color: white;
  }

  .table-operarios th,
  .table-operarios td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .table-operarios th {
    font-weight: bold;
    text-transform: uppercase;
  }

/* Filas de la tabla */
.operarios-row:hover {
  background-color: #f1f1f1;
}

/* Botón */
.select-button {
  font-family: 'Poppins', sans-serif;
  padding: 6px 12px;
  font-size: 14px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

  .select-button:hover {
    background-color: #218838;
  }



.tabs-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
}

.tabs {
  list-style-type: none;
  display: flex;
  border-bottom: 2px solid #ccc;
  padding: 0;
  margin: 0;
}

  .tabs li {
    padding: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s;
  }

    .tabs li:hover {
      border-bottom: 2px solid #007bff;
    }

    .tabs li.active {
      border-bottom: 2px solid #007bff;
      font-weight: bold;
    }

.tab-content {
  padding: 2rem;
  border: 1px solid #ccc;
  margin-top: 1rem;
  border-radius: 5px;
}


/* Contenedor de la tabla */
.table-materiales {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9; /* Fondo claro */
}

  /* Encabezados de la tabla */
  .table-materiales th {
    background-color: #F57747; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    padding: 12px 15px; /* Espaciado interno */
    border-bottom: 2px solid #ddd; /* Línea inferior */
    text-align: center;
  }

  /* Celdas del cuerpo de la tabla */
  .table-materiales td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align:center;
  }

  /* Estilos para las filas impares */
  .table-materiales tr:nth-child(odd) {
    background-color: #f2f2f2; /* Alterna el color de fondo */
  }

  /* Efecto hover sobre las filas */
  .table-materiales tr:hover {
    background-color: #ddd; /* Cambia el color al pasar el mouse */
  }

  /* Estilos para las celdas de cantidad */
  .table-materiales td:nth-child(2),
  .table-materiales td:nth-child(3) {
    text-align: center; /* Alinea al centro las columnas de cantidad */
  }

.table-mano {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  background-color: #f9f9f9; /* Fondo claro */
}

  /* Encabezados de la tabla */
  .table-mano th {
    background-color: #F59647;
    color: white; /* Color del texto blanco */
    padding: 12px 15px; /* Espaciado interno */
    border-bottom: 2px solid #ddd; /* Línea inferior */
    text-align: center;
  }

  /* Celdas del cuerpo de la tabla */
  .table-mano td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  /* Estilos para las filas impares */
  .table-mano tr:nth-child(odd) {
    background-color: #f2f2f2; /* Alterna el color de fondo */
  }

  /* Efecto hover sobre las filas */
  .table-mano tr:hover {
    background-color: #ddd; /* Cambia el color al pasar el mouse */
  }

  /* Estilos para las celdas de cantidad */
  .table-mano td:nth-child(2),
  .table-mano td:nth-child(3) {
    text-align: center; /* Alinea al centro las columnas de cantidad */
  }


.custom-input {
  width: 29px; /* Ajusta el ancho del input */
  height: 30px; /* Ajusta la altura del input */
  background: none; /* Elimina el fondo */
  border: 1px solid #ccc; /* Un borde suave */
  padding: 5px; /* Espaciado interno */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  border-radius: 4px; /* Bordes redondeados */
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

  .custom-input:focus {
    outline: none; /* Elimina el borde resaltado al hacer clic */
    border-color: #66afe9; /* Color del borde al enfocar */
  }

.loading-screen {
  position: fixed; /* Fija la pantalla de carga en el centro de la ventana */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros contenidos */
}

.loading-gif {
  width: 160px;
  height: 120px;
  margin-bottom: 15px;
}

.anexos-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Ajusta el tamaño mínimo de la columna y llena el espacio disponible */
  gap: 10px; /* Espacio entre las imágenes */
  padding: 10px; /* Espacio alrededor del contenedor */
}

.img-anexo {
  width: 100%; /* O el porcentaje que mejor se adapte a tu diseño */
  max-width: 300px; /* Establece un ancho máximo para las imágenes */
  height: auto; /* Mantiene la relación de aspecto */
  border-radius: 4px; /* Opcional: para bordes redondeados */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* Opcional: para sombra ligera */
}

  .img-anexo:hover {
    transform: scale(1.1); /* Efecto de zoom al pasar el mouse */
  }

.custom-modalbox .mat-dialog-container {
  padding: 0;
}

.message-success {
  color: #4CAF50; /* Color de texto para el éxito */
  background-color: #e8f5e9; /* Color de fondo claro */
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Inicialmente invisible */
}

  .message-success.active {
    opacity: 1; /* Completamente visible cuando está activo */
  }

.message-error {
  color: #f44336; /* Color de texto para error */
  background-color: #ffdde0; /* Color de fondo suave para error */
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}





/* Estilos adicionales */
h4 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

/* Ajusta el ancho de la tabla para pantallas más pequeñas */
@media (max-width: 600px) {
  .table-materiales {
    font-size: 14px;
  }
}
