<div class="contenedor" >

  <form (submit)="onSubmit()" class="formulario">

    <label class="inicio">Iniciar sesión</label>

    <div class="form-group">

      <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Ingresar nombre de usuario">
      <label for="username" class="texto-label">Usuario</label>

    </div>

    <div class="form-group">

      <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Ingresar contraseña">
      <label for="password" class="texto-label">Contraseña</label>

    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    <div class="form-actions">

      <button type="submit" class="btn-submit">Iniciar Sesión</button>
      <button type="button" class="btn-cancel" (click)="resetForm()">Cancelar</button>


    </div>

  </form>

  <!-- Pantalla de carga -->
  <div *ngIf="isLoading" class="loading-screen">
    <img src="img/cargando.gif" alt="Loading..." class="loading-gif">
    <p>Cargando, por favor espere...</p>
  </div>


</div>

