/* Contenedor principal */
.contenedor {
  margin-top: 1.5rem;
  
  display: flex;
  /*padding-top: 1px;*/
  justify-content: center;
  align-items: center;
  /*height: 100vh; *//* Centrado vertical y horizontal */
  background-color: white; /* Fondo opcional para la pantalla completa */
}

.formulario {
  background-color: #ececec;
  padding: 1rem 0.5rem; /* Más espacio interior */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  width: 80%;
  max-width: 450px; /* Ancho máximo aumentado */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.aguila{
    margin-top: 1px;
    width: 250px;
    height:auto;
    align-self:center;
}

.inicio {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 32px; /* Tamaño de fuente aumentado */
  margin-bottom: 1rem; /* Espacio adicional debajo del título */
  color: #333;
}

.form-group {
  position: relative;
  margin: 20px 0; /* Más espacio entre los campos */
  width: 100%;
}

  .form-group input {
    padding: 12px 10px; /* Más espacio interior en el input */
    font-size: 18px; /* Tamaño de fuente ajustado */
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    border: 2px solid #a3a3a3;
    background-color: transparent;
    color: #333; /* Color de texto negro */
    width: 50%;
    height: 20px;
    transition: border-color 0.3s ease, color 0.3s ease;
  }

    .form-group input:focus {
      border-color: black; /* Color de borde más oscuro */
    }

    .form-group input::placeholder {
      color: transparent;

    }

  .form-group .texto-label {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 10px;
    left: 110px;
    padding: 0 5px;
    background-color: transparent;
    color: #a3a3a3;
    pointer-events: none;
    transition: 0.3s ease;
  }

  .form-group input:focus + .texto-label,
  .form-group input:not(:placeholder-shown) + .texto-label {
    transform: translate(0, -26px); /* Posición ajustada cuando sube */
    background-color: #ececec; /* Fondo blanco cuando sube----- */
    font-size: 14px;
    color: #333; /* Texto oscuro para mejor legibilidad */
    padding: 0 5px;
  }

.form-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 1rem; /* Espacio superior */
  width: 100%;
}

.btn-submit, .btn-cancel {
  padding: 0.6rem; /* Más espacio interior en los botones */
  font-size: 14px; /* Tamaño de fuente aumentado */
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
}

.btn-submit {
  background-color: #1e90ff;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

  .btn-submit:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }

.btn-cancel {
  background-color: #555555;
  color: white;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

  .btn-cancel:hover {
    background-color: #D92414;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }

.error-message {
  color: #d32f2f;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif; /* Aplica la fuente específicamente al menú */
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.loading-gif {
  width: 160px;
  height: 120px;
  margin-bottom: 15px;
}

.loading-screen p {
  font-size: 16px;
  color:#333;
}

/* Estilos por defecto para pantallas grandes (escritorios) */
/* Tu CSS existente va aquí */

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .formulario {
    width: 90%; /* Hace el formulario más ancho en tabletas */
    padding: 2rem; /* Ajusta el espacio interior */
  }

  .form-group input, .form-group .texto-label {
    width: 100%; /* Ajusta el ancho del input y label */
  }
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .inicio {
    font-size: 24px; /* Reduce el tamaño del texto para móviles */
    align-content: center;
  }

  .form-group {
    margin: 15px 0; /* Reduce el espacio entre campos */
  }

    .form-group input {
      font-size: 16px; /* Reduce el tamaño de fuente del input */
    }

    .form-group .texto-label {
      font-size: 16px; /* Reduce el tamaño del texto del label */
    }

  .btn-submit, .btn-cancel {
    padding: 0.8rem; /* Ajusta el relleno para facilitar el clic */
    font-size: 14px; /* Reduce el tamaño de fuente de los botones */
  }
}

