:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: center;

}



.imagen {
  z-index: 1; /* Asegura que la imagen esté sobre el fondo rojo */
  width: 200px; /* Ancho de la imagen */
  height: auto; /* Altura automática, mantiene la proporción */
  border-radius: 10px; /* Bordes redondeados */
  margin: 10px; /* Espacio alrededor de la imagen */
}
